[Unit]
Description=Canary daemon service
After=network.target

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/env bash /root/canary/run.sh

[Install]
WantedBy=multi-user.target