[Unit]
Description=Canary daemon service
After=network.target

[Service]
Restart=always
RestartSec=5
ExecStart=/root/canary/run.sh

[Install]
WantedBy=multi-user.target